.*.swp
*.deps
*.la
*.lo
*.o
.libs/
/aclocal.m4
/autom4te.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/config.h
/config.h.in
/config.h.in~
/stamp-h1
Makefile
Makefile.in

